name: Static checks

on:
  workflow_call:

jobs:
  lint:
    name: Lint and format checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Run ESLint
        run: npm run eslint

      - name: Run markdownlint
        run: npm run markdownlint

      - name: Run Prettier
        run: npm run prettier

  build:
    name: Build site
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Build site
        run: npm run build
